/* .box{
    height: 300px;
    width: 1200px;
    background-color: yellow;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box div{
    height: 200px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.shadow{
    box-shadow: 30px;
}
.blue{
    background-color: blue;
} */

/* div{
    background-color: yellow;
    height: 200px;
    width: 400px;
}
ul{
    background-color: aqua;
}
li{
    background-color: burlywood;
} */

/* .fact1{
    background-color: yellow;
}
.fact2{
    background-color: yellowgreen;
} */